@page "/checkout/confirm"

<h2 class="bg-danger">THANK YOU FOR ORDER!!!!!</h2>
<h3 class="bg-success">After some time you should receive order payment details in your email, after successful payment you maybe will get your item!</h3>


@code {

}
